*.rds
.Rproj.user/
*.Rproj
*.Rhistory
.Rproj.user/**
outputs/**
data/**
*.rds
*.Rhistory
*.Rproj
**.gif
.Rproj.user/**
.Rproj.user//*
.Rproj.user/*
.Rproj.user//**
.Rproj.user/.**
.Rproj.user//.*
.Rproj.user/.*
.Rproj.user//.**
*.Rproj
data/*
figures/*
for_zenodo/*
help/*
outputs/*
*.rds
.Rhistory
*.png
.Rproj.user/**
.Rproj.user//*
.Rproj.user/*
.Rproj.user//**
.Rproj.user/.**
.Rproj.user//.*
.Rproj.user/.*
.Rproj.user//.**
*.Rproj
data/*
figures/*
for_zenodo/*
help/*
outputs/*
*.rds
.Rhistory
*.Rhistory
*.png
*.zip
