*.rds
.Rproj.user/
*.Rhistory
**.gif
*.png
*.zip
old versions of model/
/shiny_app/app/rsconnect
/data/APHA data (anonymised)
/data/Claire Turner PhD
/data/HiRes_Hedges
/data/Linear+Woody+Features_2393217
/data/Protected Areas
/data/SAC-OSGB36-20190403
/data/SPA-OSGB36-20220930
/data/SSSI_UK
/data/UKCEH-2018-25m_AllUK
/data/Woody_LinearFeatures
data/ATLAS data/GPS data/Pheas_filtered.csv
shiny_app/
PA_sites_shiny_app/
/outputs
